html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div {
	margin: 0px;
	padding: 0px;
}

#mirror-wrapper {
	margin-bottom: .2em;
}

#mirror-wrapper * {
	vertical-align: middle;
}

table {
	font-size: 12px;
}
#map {
	display:flex;
	width: 80%;
	float: left;
}

#listing {
	display:flex;
	width: auto;
	max-width: 200px;
	height: 100%;
	overflow: auto;
	cursor: pointer;
	overflow-x: hidden;
	padding-left: 1em;
}

#resultsTable {
	border-collapse: collapse;
	width: 240px;
}

#rating {
	font-size: 13px;
	font-family: Arial Unicode MS;
}

.iw_table_row {
	height: 18px;
}

.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}

.iw_table_icon {
	text-align: right;
}


.custom-control-container {
    margin: 5px;
}
.custom-control {
    cursor: pointer;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Roboto", Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 1.8em !important;
    background-color: rgb(255, 255, 255);
    padding: 1px 26px;
	margin-left: 10px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 28px;
    font-weight: 300;
}

.custom-control:hover {
    font-weight: 900 !important;
}
